#moodlesitestopblackbar {
  position: relative;
  min-height: 40px;
  font-size: 11.9px;
  background-color: #0d0d0d;
  border-bottom: 5px solid #6c336d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

#moodlesitestopblackbar .sitelogo {
  position: absolute;
  top: 0;
  display: block;
  width: 96px;
  padding-top: 7px;
  padding-right: 20px;
  padding-left: 20px;
}

#moodlesitestopblackbar .sitelogo img {
  width: 96px;
}

#moodlesitestopblackbar ul {
  float: right;
  padding: 0 10px;
  margin: 0;
}

#moodlesitestopblackbar ul li {
  display: inline-block;
  float: left;
  line-height: 20px;
  list-style: none;
}

#moodlesitestopblackbar ul li a {
  display: block;
  padding: 10px 10px;
  color: white;
  text-shadow: none;
  text-transform: uppercase;
  background-repeat: no-repeat;
}

#moodlesitestopblackbar ul li a:hover {
  text-decoration: none;
}

#moodlesitestopblackbar ul li.home {
  margin-left: 136px;
}

#moodlesitestopblackbar ul li.home a {
  width: 20px;
  background-image: url(/dev/skins/moodledocsnew/sitebar/pix/home.png);
  background-position: center center;
}

#moodlesitestopblackbar ul li.home a > span {
  visibility: hidden;
}

#moodlesitestopblackbar ul li.home a:hover {
  background-color: #f98012;
}

#moodlesitestopblackbar ul li.documentation a {
  background-color: #6c336d;
}

#moodlesitestopblackbar ul li.documentation a:hover {
  background-color: #6c336d;
}

#moodlesitestopblackbar ul li.download a:hover {
  background-color: #6eab2e;
}

#moodlesitestopblackbar ul li.demo a:hover {
  background-color: #999999;
}

#moodlesitestopblackbar ul li.tracker a:hover {
  background-color: #4653b4;
}

#moodlesitestopblackbar ul li.development a:hover {
  background-color: #4653b4;
}

#moodlesitestopblackbar ul li.translation a:hover {
  background-color: #a62a3e;
}

#moodlesitestopblackbar ul li.moodlenet a:hover {
  background-color: #fb4b28;
}

#moodlesitestopblackbar ul li.search a {
  width: 20px;
  background-image: url(/dev/skins/moodledocsnew/sitebar/pix/search.png);
  background-position: center center;
}

#moodlesitestopblackbar ul li.search a > span {
  visibility: hidden;
}

#moodlesitestopblackbar ul li.search a:hover {
  background-color: #f98012;
}

@media (max-width: 979px) {
  #moodlesitestopblackbar {
    margin: -5px;
  }
  #moodlesitestopblackbar ul li.documentation a > span:first-child {
    display: none;
  }
  #moodlesitestopblackbar ul li.documentation a .placeholder:after {
    content: "Docs";
  }
  #moodlesitestopblackbar ul li.development a > span:first-child {
    display: none;
  }
  #moodlesitestopblackbar ul li.development a .placeholder:after {
    content: "Dev";
  }
}

@media (max-width: 790px) {
  #moodlesitestopblackbar .sitelogo {
    width: 48px;
    padding-top: 9px;
    padding-right: 10px;
  }
  #moodlesitestopblackbar .sitelogo img {
    width: 48px;
  }
  #moodlesitestopblackbar ul {
    padding: 0;
  }
  #moodlesitestopblackbar ul li.home {
    margin-left: 80px;
  }
  #moodlesitestopblackbar ul li a {
    padding-right: 4px;
    padding-left: 4px;
  }
}
