#column-content {
	margin: 0 -13.7em 0 0;
	float: left;
}
#moodlelogo {
	padding-right: 2em;
}
#p-personal {
	width:97%;
}
#p-cactions {
	right: 14.3em;
}
.portlet,
.sideblock {
	margin: 0 0.75em 0.75em 0;
}
#column-content #content{
	margin-left: 0.75em;
	margin-right: 13.7em;
	border: 1px solid #ddd;
}
#p-cactions li,
#p-cactions li.selected,
#p-cactions li:hover {
	padding-top: 1px;
	margin-left: 0.3em;
}
