/** Skin moodledocsnew fixes for IE5.5 **/
#page {width: 100%;margin: 16px 0px 0px 0px;background: #FFF url(images/header_stripe_grad.jpg) no-repeat left top;}
#p-cactions {top: 12.3em;}
#column-content #content {margin-top: 4.3em;}
#p-Navigation h5.header {margin-top: 4.6em;}
#p-personal {top: 2em;width: 100%;margin: 0;padding: 0;}