#p-personal {
    width:97%;
}
#p-cactions {
    right: 14.3em;
}
.portlet,
.sideblock {
    margin: 0 0.75em 0.75em 0;
}
#p-cactions li,
#p-cactions li.selected,
#p-cactions li:hover {
    padding-top: 1px;
    margin-left: 0.3em;
}