/*
 * MediaWiki 'moodledocs' style sheet for CSS2-capable browsers.
 * (defined as differences from 'monoblock', see Copyright there
 * License: GPL (http://www.gnu.org/copyleft/gpl.html)
 */
/**
 * Layout overrides - start
 *
 * body.mediawiki
 *   div#page
 *     div#moodlelogo
 *     div#moodlemenu
 *     div#moodlenavbar.navbar
 *     div#globalWrapper
 *       div#column-content
 *         div#content
 *       div#column-one
 *       div#footer
 *     div#moodlesitelink
 **/
body {font-size: 100%;background: #FFF url(images/background_grd_1.jpg) repeat-x left top;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
div#page {width: 96%;margin: 16px auto;padding: 0;color: #444;background: #FFF url(images/header_stripe_grad.jpg) no-repeat left top;}
div#moodlelogo {background: url(images/header_stripe_grad_2.jpg) no-repeat right top;padding:0 2em;height: 2.5em;border:0;}
div#moodlelogo img.logo {border: 0;padding-top: 0.5em;}
div#moodlenavbar {width: 100%;padding: 0;margin: 0;min-height: 2.1em;border-style: none;border-bottom: 0.1em solid #FFE39D;z-index: 0;background: #FFFCF6 url(images/navbar_bg.jpg) repeat-x left top;}
div#moodlenavbar .breadcrumb {float:left;margin: 0.4em 0 0.1em 18px; clear: both; }
div#moodlenavbar .breadcrumb a {text-decoration: none;}
div#moodlenavbar .breadcrumb ul {padding:0;margin:0;text-indent:0;list-style:none;}
div#moodlenavbar .breadcrumb li {display:inline;font-size: 84%;}
div#moodlenavbar .navbutton {margin: 2px 12px 2px 0;}
div#globalWrapper {font-size: 84%;background: none;}
div#column-content {margin:0 0 0.6em 0;float:none;}
div#content {margin:4.3em 0.75em 0;border: 1px solid #ddd;line-height: 1.4em;}
div#column-one {padding-top: 1.3em;}
div#moodlesitelink {text-align: center;padding-top: 1em;}
div#moodlesitelink img.logo {border:0;width:100px;height:30px;}
div#content .navtrail {position:absolute;top:-6.2em;background-color:transparent;margin-bottom:0;}
div#footer { margin: 0.5em; padding: 0.5em }
/** Layout overrides - end **/

/** General styles */
h1, h2, h3, h4, h5, h6 {
    color: black;
    background: none;
    font-weight: normal;
    margin: 1.5em 0em 0em;
    padding: 0em 0em 0.17em;
}
h1 {border-bottom: 1px solid #ddd; font-size: 188%}
h1 .editsection { font-size: 53%; }
h2 {font-size: 150%;border-bottom: 1px solid #ddd;}
h2 .editsection { font-size: 67%; }
h3 {font-size: 120%;}
h3 .editsection { font-size: 83%; }
h4 {font-size:105%;}
h4 .editsection { font-size: 95%; }
h5 {font-style:italic;}
h6 {font-size: 100%;}
b, strong {color: #111;}
p {line-height: 1.4em;}
hr {color: #ddd;background-color: #ddd;}

a { text-decoration: none; color: #002bb8; background: none; }
a:active { color: #faa700; }
a:hover { text-decoration: underline; }
a:visited {color: #0063DC;}

ul, ol, dd {line-height: 1.4em;}
fieldset {border: 1px solid #FFB53A;line-height: 1.4em;}
legend {background: white;}
code {font-size: 120%;line-height: 1.4em;}
pre {border: 1px dashed #FFB53A;font-size: 120%;line-height: 1.4em;}
textarea { width: 100%; padding: .1em; }

/** General styles - end*/

/** General portlet and sideblock styles **/
.portlet {display:inline-block;vertical-align:top;}
.portlet,
.sideblock {margin: 0 0 0.75em 0.75em;}
.portlet h5,
.sideblock .header {background: url("images/gradient.gif") top left;border: 1px solid #DDD;border-bottom: none;padding: 3px 1em 5px;display: block;font-weight: bold;font-size: 95%;margin-top: 0;height: 1em; white-space: nowrap; }
.portlet h5 { text-transform: lowercase; }
.portlet .pBody,
.sideblock .content {border: 1px solid #DDD;}
.portlet ul {list-style-image: none;list-style-type: none;margin: 0.3em; line-height: 1.5em; font-size: 95%; padding: 0; }
.portlet li {
    padding: 0;
    margin: 0;
}

.pBody {font-size: 100%;}
/** General portlet and sideblock styles - end **/

/** Specific portlet styles **/
#p-personal {top: 2em;width: 80%;margin-left: 20%;}
#p-personal h5 {display: none;}
#p-personal ul {margin-right: 1%;}

#p-cactions {line-height: 1em;font-size: 100%;left: 3.3em;top: 11em;width: 72%;}
#p-cactions h5 {display: none;}
#p-cactions ul {margin: 0.8em; padding-left: 0px;}
#p-cactions li a,
#p-cactions li.selected a,
#p-cactions li a:hover {background-color: transparent;text-decoration: none;text-transform: lowercase;}
#p-cactions li {background: url("images/tab.gif") top right no-repeat;padding-top: 4px;padding-bottom: 0.2em;border: none;}
#p-cactions li span.tab {background: url("images/tab_li.gif") top left no-repeat;padding-top: 4px;padding-bottom: 0.1em;}
#p-cactions li.selected,
#p-cactions li:hover {background: url("images/tab_active.gif") top right no-repeat;padding-top: 4px;padding-bottom: 0.2em;border: none;}
#p-cactions li.selected span.tab,
#p-cactions li span.tab:hover {background: url("images/tab_active_li.gif") top left no-repeat;padding-top: 4px;padding-bottom: 0.1em;}

#p-logo {top: 10em;height:40px;width:200px;left:auto;right:3%;}
#p-logo a,
#p-logo a:hover {height:40px;width:200px;background-position: 100% 0 !important;}

#p-navbar {top: 8em;left:3%;display:none;}
/** Specific portlet styles - end**/

.right {float: right;margin-left: 2em;}
.right .header {padding-bottom: 7px;padding-left: 1.7em;padding-top: 1px;}
.right .content {background-color: white;}
.right .content p {padding-left: 0.6em;}
p.note {padding:0.5em 1em;border: 1px solid #FF0;background:#FFA;color: #444;-moz-border-radius:5px;}
p.note.green {background:#EFA;}
p.note.orange {background:#FEA;}
.small-info-right {float: right;background:#FFA;margin-left: 1em;padding: 0.2em 0.5em;border: 1px solid #FF0;-moz-border-radius:5px;}
.small-info-right .text-small {font-weight: normal;font-size: 100%;}
.small-info-right .text-big {font-weight: bold;font-size: 180%;color: #666;}
.small-info-right .new {color: #E90;}
#siteNotice {padding: 0 .9em;}
.error {color: red;font-size: larger;}
#catlinks { background: #F9F9F9; border: 1px solid #EEE; border-left: 1em solid #EEE; margin-top: 2em; padding: 0.5em;}
.rowAlternate {background-color: #eeeee0;}
.clearfix {display: block;}
.accesshide {position:absolute;top:-100000px;left:10px;font-weight:normal;font-size:1em;}

.arrow,
.breadcrumb .arrow {font-family: Arial,Helvetica,Courier,sans-serif;}
.arrow.sep,
.breadcrumb .arrow.sep {color: #ffcb44;font-size: 93%;}

table.nicetable {border: 1px solid #999999;border-collapse: collapse;}
table.nicetable th,
table.nicetable td {border: 1px solid #999999;padding: 0.3em 0.5em;text-align: left;}
table.nicetable th {background:#DDDDDD url(images/gradient.gif) repeat scroll left top;}

code { background-color: #f9f9f9; }
//pre { padding: 1em; border: 1px dashed #2f6fab; color: black; background-color: #f9f9f9; line-height: 1.1em; }
pre { padding: 1em; }

/** The main content area **/

#siteSub { display: none; }

/* Some space under the headers in the content area */
#bodyContent h1, #bodyContent h2 { margin-bottom: .6em; }
#bodyContent h3, #bodyContent h4, #bodyContent h5 { margin-bottom: .3em; }
#firstHeading { margin-bottom: .1em; }

/** Table of contents **/

#toc, .toc, .mw-warning { border: 1px solid #aaa; background-color: #f9f9f9; padding: 5px; font-size: 95%; }
#toc h2, .toc h2 { display: inline; border: none; padding: 0; font-size: 100%; font-weight: bold; }
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { text-align: center; }
#toc ul, .toc ul { list-style-type: none; list-style-image: none; margin-left: 0; padding-left: 0; text-align: left; }
#toc ul ul, .toc ul ul { margin: 0 0 0 2em; }
#toc .toctoggle, .toc .toctoggle { font-size: 94%; }

/***********************************************
 * The following CSS is assumed to be unneeded *
 ***********************************************/
#site-index .navbar,
#my-index navbar {border-top: 0.16em solid #e4af5f;}
.navigation select {background-color: #FFFFFF;}
.navigation optgroup {background-color: #EEEEEE;}
.navigation optgroup option {background-color: #FFFFFF;}

/** Menu things which aren't autogenerated from moodle.org */
#moodlemenu {clear:both;border-top: 1px solid #ffe39d;border-bottom: 1px solid #e4af5f;background-color: #ffe39d;background-image: url(images/sprite.png);background-repeat: repeat-x; background-position: 0 -24px;text-align:right; font-size: 0.75em;}
#moodlemenu #global-search {float:none;margin-top:0; font-size: 0.7em;}
#moodlemenu #moodle-custommenu {text-align:left;float:left;}
.mcm-container {padding: 0px;}
